$nav-color: #efefef;
$darker-red: #c90303;
$lighter-red: #df1b11;
$nav-height: 54px;
$dark: #444;

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: monospace;
  // font-size: 1.03em;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  position:relative;
}
a{
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  transition: color 0.3s;
  transition-timing-function: ease-in-out;
}
h2 {
  padding-bottom: 20px;
}

body {
  // background-color: #eeee77;
  position: relative;
  section {
    max-width: 900px;
    min-width: 280px;
    margin: 0px auto;
  }
}
// .project-tile {
//   height: 100%;
//   // border-radius: 5px;
//   // padding: 1rem;
//   background-color: #ccc;
//   background-size: cover;
//   &:hover{
//     background-color: #444;
//     transition:background-color .5s;
//   }
  // a{
  //   display:flex;
  //   flex-direction:column;
  //   // justify-content: space-between;
  //   text-decoration:none;
  //   width: 100%;
  //   height: 100%;
  //   position:relative;
  //   }
  // .project-title{
  //   background-color: #666;
  //   // display:inline-block;
  //   width: 100%;
  //   padding: 10px 0;margin-bottom: 10px;
  //   font-size: 1.1em;
  //   font-weight: normal;
  // }
  // .description{
  //   background-color: rgba(0,0,0,.6);
  //   display:inline-block;
  //   padding: 1rem;
  //   position:absolute;
  //   bottom:0px;
  //   width: 100%;
  //   // height: 100%;
  // }
// }

nav {
  background-color: #e1e1e1;
  color: #444;
  position: fixed;
  z-index: 2;
  min-width: 280px;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0 1px 0 $dark, inset 0 0 1px 0 #eee;
  #navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $nav-height;
    padding-right: 20px;
    position: relative;
    li {
      margin-left: 30px;
      a {
        text-decoration: none;
        color: #777;
        font-size:  1.3em;
        padding: 15px 5px;
        &:hover {
          color: $darker-red;
          transition: all 0.25s;
        }
      }
    }
  }
}

#welcome-section {
  display: flex;
  height: 100vh;
  min-height: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 1.5em;
    line-height: 2;
    color: #777;
  }
  .contacts {
    margin-top: 2rem;
    a {
      display: inline-block;
      padding: 15px 5px;
      color: #444;
      &:hover {
        color: $darker-red;
        transition: all 0.25s;

        &:before {
          content: "";
          width: 10px;
          height: 10px;
          display: block;
          border-radius: 50%;
          background-color: $darker-red;
          position: absolute;
          bottom: 10px;
          left: -7px;
        }
      }
    }
  }
}

#projects {
  text-align: center;
  position: relative;
  .anchor {
    display: block;
    position: relative;
    top: -20vh;
    visibility: hidden;
  }
}
#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-rows: minmax(140px, auto);
  grid-gap: 1px;
  grid-auto-flow: dense;
  padding: 10px;

}
.project-tile, .project-tile a{
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  color: #fff;
  .overlay{
    height: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,.77);
    transition:opacity .55s;
    .project-description{
      // height: 50%;
      height: 56px;
      padding-bottom: 10px;
      position: absolute;
      bottom: 0px;
      left: 10px;
      width: 90%;
      text-align: left;
      color: #ccc;
      // margin: 0 auto;
    }
    .project-description:before{
      content: '';
      height: 1px;
      display: block;
      width: 100%;
      background-color: #ededed;
      margin-bottom: 10px;
    }
    &:hover{
      opacity:0;
    }
    .project-title{
      font-weight: normal;
      font-size: 1.4rem;
      color:#ececec;
    }
  }
}
footer {
  text-align: center;
  background-color: #444;
  color: #efefef;
  padding: 0 15px;  
  margin-top: 70px;
  padding: 10px 0;
}





#email-modal {
  display:none;
  position: fixed;
  // width: 50%;
  // height: 50%;
  top: 25%;
  left: 25%;
  background-color: rgba(0,0,0,.6);
  color:#fff;
  padding: 40px;
}
#email-modal .close{
  position:absolute;
  display:inline-block;
  color:#aaa;
  top: 5px;
  right:10px;
  font-size: 28px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

.span-1{}
.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
